<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Exchange</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Stock exchange</h1>

    <form action='/answer'>
      <label>
        Check the stock exchange:
        <input name="company" placeholder="GOOGL">
      </label>
      <button>Submit</button>
    </form>

  </body>
</html>
